<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center">
      Welcome to {{ title }}!
    </h1>
  </div>
  <app-new-keg (sendKeg)="addKeg($event)"></app-new-keg>
  <div *ngIf="!editFormView">
    <app-list-keg [childKegList] = "masterKegList" (clickSender) = "editKeg($event)" (saleSender)="modifyKegPints($event)" [editFormView] = "editFormView" [childSelectedPintKeg] = "selectedPintKeg" (clickSort) = "sort($event)"></app-list-keg>
  </div>
  <div *ngIf="editFormView">
    <app-edit-keg [childSelectedKeg] = "selectedKeg" (clickedDone) = "finishedEditing()" (clickedDelete) = "deleteKeg()"></app-edit-keg>
  </div>

</div>
