<div class="new-form-button">
  <button (click)="newButtonClicked()" class="btn btn-primary">Add New Keg</button>
</div>
<div class="selector">
  <select (change)="onChange($event.target.value)" class="form-control">
    <option value="allKegs">All Kegs</option>
    <option value="under10Kegs">Low Kegs</option>
  </select>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Beer Name</th>
      <th>Brand</th>
      <th>Price <div><span class="glyphicon glyphicon-chevron-up" (click)='sortButtonClicked("priceAsc")'></span> <span class="glyphicon glyphicon-chevron-down" (click)='sortButtonClicked("priceDesc")'></span></div></th>
      <th>Alcohol Content <div><span class="glyphicon glyphicon-chevron-up" (click)='sortButtonClicked("alcAsc")'></span> <span class="glyphicon glyphicon-chevron-down" (click)='sortButtonClicked("alcDesc")'></span></div></th>
      <th>Remaining Pints</th>
      <th>Edit</th>
      <th>Sell</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let keg of kegs | under10:filterByPints">
      <td>{{keg.name}}</td>
      <td>{{keg.brand}}</td>
      <td><span [ngClass]="{
        'cheap': keg.price < 4,
        'midRange': keg.price < 7 && keg.price >= 4,
        'expensive': keg.price >= 7
      }">${{keg.price}}</span></td>
      <td><span [ngClass]="{
        'low': keg.alcoholContent < 6,
        'high': keg.alcoholContent >= 6,
        'veryHigh': keg.alcoholContent >= 9
      }">{{keg.alcoholContent}}%</span></td>
      <td>
        <div class="progress">
          <div [ngClass]="{'progress-bar': true,
          'progress-bar-success': keg.pints > 82,
          'progress-bar-warning': keg.pints > 40 && keg.pints <= 82,
          'progress-bar-danger': keg.pints <= 40 }" role="progressbar" [ngStyle]="{'width': returnPercentage(keg), 'min-width': '10px'}">{{keg.pints}}
          </div>
        </div>
      </td>
      <td><button (click)="editButtonClicked(keg)" class="btn btn-info">Edit</button></td>
      <td><button (click)="saleButtonClicked(keg)" class="btn btn-warning">Sell Pint</button></td>
    </tr>
  </tbody>
</table>
