table {
  margin-top: 30px;
  font-size: 1.25em;
}

select {
  color: black;
}

.selector {
  margin-top: 20px;
}

.high {
  font-size: 1.5em;
}

.veryHigh {
  font-size: 2em;
}

.cheap {
  color: #FFFF99;
}

.midRange {
  color: #f4ac66;
}

.expensive {
  color: #720000;
}

.progress-bar-full {
  background-color: green;
}

.progress-bar-mid {
  background-color: orange;
}

.progress-bar-empty {
  background-color: red;
}

/*[ngClass]="{
  'progress-bar progress-bar-full': keg.pints > 12,
  'progress-bar progress-bar-mid': keg.pints > 7 && keg.pints <= 12,
  'progress-bar progress-bar-empty': keg.pints <= 7
}"*/
