/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

h1 {
  font-family: 'Shrikhand', cursive;
  color: white;
}

.jumbotron {
  /*background-color: rgba(0, 0, 255, 0.2);*/
  background-image: url("./img/bottles.jpg");
  background-color: black;
  background-position: center;
  background-size: cover;
  color: #F5AF53;
}

body {
  font-family: 'Pridi', serif;
  color: white;
  background-color: #F4D6AD;
}

.container {
  background-color: #747f7a;
}

ul {
  font-size: 2em;
}
